.block-services-main {
    padding: 93px 0px 55px 0px;
    background-color: #FFF;

    .container {
        max-width: 900px;

        p {
            line-height: 19px;
            color: #3C3C3C;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 0px;
            text-align: center;
            font-family: 'Pacifico', cursive;
            letter-spacing: 0px;
            line-height: 39px;
            font-size: 28px;
            color: #C23C8E;
        }

        ul {
            list-style: none;
            padding-left: 0px;

            li {
                letter-spacing: 0px;
                line-height: 30px;
                font-size: 14px;
                color: #3C3C3C;
            }
        }

        .btn-primary {
            border-color: #F4CD54 !important;
            background-color: transparent;
            color: #F4CD54 !important;

            &.active {
                background-color: #F4CD54 !important;
                color: #FFF !important;
            }

            &:hover {
                background-color: #F4CD54 !important;
                color: #FFF !important;
            }
        }

        .container-slider {
            width: 100%;
            padding: 0px 24px;

            .btn-slider-services {
                width: 47px;
                height: 47px;
                top: calc(100% - 80px);
                position: absolute;
                background-color: #FDA95F;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                cursor: pointer;
                z-index: 2;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                // Breakpoints
                @include respond-to($phone) {
                    top: calc(100% - 120px);
                }

                @include respond-to($phone-tablet) {
                    top: calc(100% - 120px);
                }

                @include respond-to($tablet-medium) {
                    top: calc(100% - 120px);
                }

                @include respond-to($medium-large) {
                    top: calc(100% - 120px);
                }

                &.btn-next {
                    right: 15px;
                }

                &.btn-prev {
                    left: 15px;
                }

                .lni {
                    font-weight: 700;
                    font-size: 28px;
                    color: #FFF;
                }
            }

            .swiper-container {

                .swiper-wrapper {

                    .swiper-slide {
                        background-color: #FFF;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }

            #swiper-services-main {

                &.swiper-container {

                    .swiper-wrapper {

                        .swiper-slide {
                            width: 100%;
                            height: 365px;
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            #swiper-services-thumbs {

                &.swiper-container {

                    .swiper-wrapper {

                        .swiper-slide {
                            height: 112px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}