.block-banner-internal-services {
    min-height: 153px;
    padding: 40px 0px 30px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
        width: 55px;
        height: 55px;
        bottom: -27px;
        left: calc(50% - 27px);
        position: absolute;
        background-size: auto 40px;
        background-repeat: no-repeat;
        background-position: center 9px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        content: '';
        z-index: 1;
    }

    &.type-icon-1 {
        background-color: #41B797;

        &::after {
            background-color: #41B797;
            background-image: url('../img/neuropsicologia.svg');
        }
    }

    &.type-icon-2 {
        background-color: #F4CD54;

        &::after {
            background-color: #F4CD54;
            background-image: url('../img/psicologia.svg');
        }
    }

    &.type-icon-3 {
        background-color: #51DDCC;

        &::after {
            background-color: #51DDCC;
            background-image: url('../img/fonoaudiologia.svg');
        }
    }

    &.type-icon-4 {
        background-color: #C2619D;

        &::after {
            background-color: #C2619D;
            background-image: url('../img/terapia-ocupacional.svg');
        }
    }

    &.type-icon-5 {
        background-color: #FD7165;

        &::after {
            background-color: #FD7165;
            background-image: url('../img/psicopedagogia.svg');
        }
    }

    h1 {
        margin: 0px;
        text-align: center;
        font-family: 'Chelsea Market', cursive;
        letter-spacing: 0px;
        line-height: 46px;
        font-size: 31px;
        color: #FFF;
    }
}