@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Pacifico&family=Raleway:wght@400;700&display=swap');

/*font-family: 'Chelsea Market', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;*/

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    background: #FFF;
    overflow-x: hidden;
    background-color: red;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}